@inherits LayoutComponentBase

<PageTitle>THITools_BlazorServ</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4 auth">
            <LoginDisplay />
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>
        <div class="content px-4">
            <ErrorBoundary>
                <ChildContent>
                    @Body
                </ChildContent>
                <ErrorContent>
                    <p class="custom-error">An unexpected error has occurred. Please reload the applciation. </p>
                    <button class="btn btn-primary" onclick="window.location.reload();">Reload Application</button> 
                </ErrorContent>
            </ErrorBoundary>
        </div>
    </main>
</div>

@code {
    ErrorBoundary errorBoundary;

    protected override void OnParametersSet()
    {
        // On each page navigation, reset any error state
        errorBoundary?.Recover();
    }
}